& {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .messages {
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .messages-wrapper {
    overflow: hidden;
  }
}

