<div class="primary title-bar">
  <div class='center title'>{{sender.firstName}} {{sender.lastName}}</div>
</div>

{{#each chat in messages}}
  {{component (message-component chat.type) chat=chat}}
{{/each}}
