<div class="grid-block medium-2 sidebar">
  <div class="grid-content">
    <section class="block-list">
      <header>Conversations</header>
      <ul>
        {{#each model as |conversation|}}
          {{conversation-item conversation=conversation}}
        {{/each}}
      </ul>
    </section>
  </div>
</div>

{{outlet}}
