<div class='grid-frame'>
  {{#conversation-list as |conversation|}}
    {{conversation-item conversation=conversation}}
  {{/conversation-list}}

  <div class='grid-block medium-10'>
    {{outlet}}
  </div>
</div>

